################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
ipch/
Rectify11Installer/bin/
Rectify11Installer/obj/
Rectify11.Phase2/bin/
Rectify11.Phase2/obj/
Rectify11ControlCenter/bin/
Rectify11ControlCenter/obj/
packages/
*.db
*.suo
*.ini
Rectify11.Phase2.exe
/Rectify11Installer/Resources/AdvancedRun.cfg
*.pdb
*.config
*.exe
x64/
/Rectify11Installer/Resources/Rectify11CPL.dll
Rectify11Installer/Resources/*.7z
*.tmp
*.user
!Resources
Resources/DoNotBuild.txt