################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
ipch/
Rectify11Installer/bin/
Rectify11Installer/obj/
Rectify11.Phase2/bin/
Rectify11.Phase2/obj/
packages/
*.7z
*.db
*.suo
*.exe
