<?xml version="1.0"?>
<services refresh="60">
	<service name="weather">
		<operation interval="30"/>
		<languages>
			<lang>
			ar-ae
		</lang>
			<lang>
			ar-bh
		</lang>
			<lang>
			ar-dz
		</lang>
			<lang>
			ar-eg
		</lang>
			<lang>
			ar-iq
		</lang>
			<lang>
			ar-jo
		</lang>
			<lang>
			ar-kw
		</lang>
			<lang>
			ar-lb
		</lang>
			<lang>
			ar-ly
		</lang>
			<lang>
			ar-ma
		</lang>
			<lang>
			arn-CL
		</lang>
			<lang>
			ar-om
		</lang>
			<lang>
			ar-qa
		</lang>
			<lang>
			ar-sa
		</lang>
			<lang>
			ar-SY
		</lang>
			<lang>
			ar-tn
		</lang>
			<lang>
			ar-ye
		</lang>
			<lang>
			az-AZ
		</lang>
			<lang>
			bs-BA
		</lang>
			<lang>
			cs-CZ
		</lang>
			<lang>
			cy-GB
		</lang>
			<lang>
			da-DK
		</lang>
			<lang>
			de-AT
		</lang>
			<lang>
			de-CH
		</lang>
			<lang>
			de-DE
		</lang>
			<lang>
			de-LI
		</lang>
			<lang>
			de-LU
		</lang>
			<lang>
			dsb-DE
		</lang>
			<lang>
			el-GR
		</lang>
			<lang>
			en-AU
		</lang>
			<lang>
			en-CA
		</lang>
			<lang>
			en-GB
		</lang>
			<lang>
			en-IE
		</lang>
			<lang>
			en-IN
		</lang>
			<lang>
			en-MY
		</lang>
			<lang>
			en-NZ
		</lang>
			<lang>
			en-PH
		</lang>
			<lang>
			en-SG
		</lang>
			<lang>
			en-US
		</lang>
			<lang>
			en-ZA
		</lang>
			<lang>
			es-AR
		</lang>
			<lang>
			es-BO
		</lang>
			<lang>
			es-CL
		</lang>
			<lang>
			es-CO
		</lang>
			<lang>
			es-CR
		</lang>
			<lang>
			es-DO
		</lang>
			<lang>
			es-EC
		</lang>
			<lang>
			es-ES
		</lang>
			<lang>
			es-GT
		</lang>
			<lang>
			es-HN
		</lang>
			<lang>
			es-MX
		</lang>
			<lang>
			es-NI
		</lang>
			<lang>
			es-PA
		</lang>
			<lang>
			es-PE
		</lang>
			<lang>
			es-PR
		</lang>
			<lang>
			es-PY
		</lang>
			<lang>
			es-SV
		</lang>
			<lang>
			es-US
		</lang>
			<lang>
			es-VE
		</lang>
			<lang>
			et-EE
		</lang>
			<lang>
			fi-FI
		</lang>
			<lang>
			fil-PH
		</lang>
			<lang>
			fo-FO
		</lang>
			<lang>
			fr-BE
		</lang>
			<lang>
			fr-CA
		</lang>
			<lang>
			fr-CH
		</lang>
			<lang>
			fr-FR
		</lang>
			<lang>
			fr-LU
		</lang>
			<lang>
			fr-MC
		</lang>
			<lang>
			fy-NL
		</lang>
			<lang>
			ga-IE
		</lang>
			<lang>
			he-IL
		</lang>
			<lang>
			hi-IN
		</lang>
			<lang>
			hr-HR
		</lang>
			<lang>
			hu-HU
		</lang>
			<lang>
			id-ID
		</lang>
			<lang>
			is-IS
		</lang>
			<lang>
			it-CH
		</lang>
			<lang>
			it-IT
		</lang>
			<lang>
			iu-CA
		</lang>
			<lang>
			ja-JP
		</lang>
			<lang>
			kl-GL
		</lang>
			<lang>
			lb-LU
		</lang>
			<lang>
			lt-LT
		</lang>
			<lang>
			lv-LV
		</lang>
			<lang>
			mi-NZ
		</lang>
			<lang>
			nb-NO
		</lang>
			<lang>
			nl-BE
		</lang>
			<lang>
			nl-NL
		</lang>
			<lang>
			nn-NO
		</lang>
			<lang>
			pl-PL
		</lang>
			<lang>
			pt-BR
		</lang>
			<lang>
			pt-PT
		</lang>
			<lang>
			qut-GT
		</lang>
			<lang>
			quz-BO
		</lang>
			<lang>
			quz-EC
		</lang>
			<lang>
			quz-PE
		</lang>
			<lang>
			rm-CH
		</lang>
			<lang>
			ro-RO
		</lang>
			<lang>
			ru-RU
		</lang>
			<lang>
			se-FI
		</lang>
			<lang>
			se-NO
		</lang>
			<lang>
			se-SE
		</lang>
			<lang>
			sk-SK
		</lang>
			<lang>
			sl-SI
		</lang>
			<lang>
			sma-NO
		</lang>
			<lang>
			sma-SE
		</lang>
			<lang>
			smj-NO
		</lang>
			<lang>
			smj-SE
		</lang>
			<lang>
			smn-FI
		</lang>
			<lang>
			sms-FI
		</lang>
			<lang>
			sr-CS
		</lang>
			<lang>
			sv-SE
		</lang>
			<lang>
			th-TH
		</lang>
			<lang>
			tr-TR
		</lang>
			<lang>
			uk-UA
		</lang>
			<lang>
			ur-PK
		</lang>
			<lang>
			wen-DE
		</lang>
			<lang>
			zh-SG
		</lang>
		</languages>
	</service>
	<service name="stocks">
		<operation interval="15"/>
	</service>
	<service name="currency">
		<operation interval="30"/>
	</service>
</services>
