<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KPreisser.UI.TaskDialog" version="1.0.0" targetFramework="net48" />
  <package id="Resource.Embedder" version="2.2.0" targetFramework="net48" />
  <package id="SharpCompress" version="0.32.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net48" />
</packages>